@media screen and (max-width: 992px) {
  .container__small-card {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .container__small-card-content {
    justify-content: space-between;
    gap: .5rem;
  }

  .small-card__picture > img {
    max-width: 80px;
    min-width: 80px;
  }

  .small-card__title > h1 {
    font-size: 1.12rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

}
