<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      [id]="spotlightNews?.id"
      [cardTitle]="spotlightNews?.title"
      [cardDescription]="spotlightNews?.shortDescription"
      [photoCover]="spotlightNews?.photoCover"
    >
    </app-big-card>
  </div>
  <div *ngIf="news.length > 0; else emptyNews" class="articles__others">
    <app-small-card
      *ngFor="let new of news"
      [id]="new.id"
      [cardTitle]="new.title"
      [photoCover]="new.photoCover"
    >
    </app-small-card>
  </div>
  <ng-template #emptyNews>
    <div class="articles__others">
      <h2>Nenhum artigo disponível</h2>
    </div>
  </ng-template>
</div>
